/*---------Mobile first set + greed--------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
:focus{
	outline: none;
}
header, nav{
	display: block;
}
body {
	font: 100%/1.3em segoe ui, tahoma, OpenSansL, Georgia, Helvetica, sans-serif;
	color: #000;
}
p{
	font-size: 50px;
	line-height: 65px;
	text-align: center;
}


.container {
	width: 90%;
	margin: 0 auto;
	background: #fff;
	background: url(../img/photo/head_bg.jpg) no-repeat;
}

.container .cols {
	float: left;
	//margin: 0 0 1em;
	padding: 0 1em;
}

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
	content: " ";
	display: table;
}

.row:after,
.container:after,
.clear:after {
	clear:both;
}

.container .cols.col-1,
.container .cols.col-2,
.container .cols.col-3, 
.container .cols.col-4,
.container .cols.col-5, 
.container .cols.col-6, 
.container .cols.col-7, 
.container .cols.col-8, 
.container .cols.col-9, 
.container .cols.col-10, 
.container .cols.col-11,
.container .cols.col-12 {width: 100%;}

/*---------You're code--------*/

@media screen and (min-width: 600px) {
	/*For screen and width >= 600px*/
	.container .cols.col-1 {width: 8.333333333%;}
	.container .cols.col-2 {width: 16.666666666%;}
	.container .cols.col-3 {width: 25%}
	.container .cols.col-4 {width: 33.333333333%;}
	.container .cols.col-5 {width: 41.666666667%;}
	.container .cols.col-6 {width: 50%;}
	.container .cols.col-7 {width: 58.333333333%;}
	.container .cols.col-8 {width: 66.666666667%;}
	.container .cols.col-9 {width: 75%;}
	.container .cols.col-10 {width: 83.333333333%;}
	.container .cols.col-11 {width: 91.666666667%;}
	.container .cols.col-12 {width: 100%;}
	
}

/*---------You're code-------*/

.head{
	width: 100%;
	height: 666px;
	background: url(../img/photo/head_bg.jpg) no-repeat;
	background-size: cover;
	padding-top: 17px;
}

.header{
	color:#fff;
	width: 90%;
	height: 108px;
	background: rgba(0,0,0,0.38);
	margin: 0 auto;
	//overflow: hidden;
}

.logo{
	width: 25.2%;
	min-width: 320px;
	height: 100%;
	float: left;
}

.img__block{
	width: 33%;
	min-width: 120px;
	height: 100%;
	float: left;
}

.logo a{
	display: block;
	margin: 10px;
}

.logo img{
	max-width: 105px;
}

.text__block{
	width: 163px;
	height: 100%;
	float: left;
	padding-top: 27px;
}

.text__block a{
	text-decoration:none;
	color:#fff;
	margin: 0;
}

.text__block h1{
	font-size: 37px;
	line-height: 35px;
	margin-bottom: -5px;
}

.text__block span{
	font-size: 11.5px;
}

.center{
	width: 70.8%;
	height: 100%;
	float: left;
	padding-top: 30px;
}

.upp__head{
	height: 40px;
}

.events{
	float: left;
	font-size: 11.5px;
}

.event__name{
	float: left;
}

.event{
	float: left;
	padding-top: 2px;
}

.event ul li{
	padding-left: 9px;
	list-style: none;
	line-height: 15px;
}
.event a{
	text-decoration: none;
	color: #9ec2fe;
}
.event a:hover{
	color: #cbdeff;
}

.contacts{
	margin:-10px 0 0 0;
	float: right;
}
.address{
	float: left;
	margin-right: 20px;
	margin-top: 5px; 
}
.address i{
	display: block;
	margin: 3px 2px 0 0;
	width: 14px;
	height: 15px;
	float: left;
	background: url(../img/icon/location.png) no-repeat;
}
.address:hover i{
	background: url(../img/icon/location_h.png) no-repeat;
}
.phone{
	float: left;
	margin-right: 20px;
	margin-top: 6px; 
}
.phone i{
	display: block;
	margin: 3px 5px 0 0;
	width: 14px;
	height: 14px;
	float: left;
	background: url(../img/icon/phone.png) no-repeat;
}
.phone:hover i{
	background: url(../img/icon/phone_h.png) no-repeat;
}
.social{
	float: left;
}
.social ul li{
	margin-right: 8px;
	float: left;
	list-style: none;
}
.social ul li:last-child{
	margin-right: 0;
}
