/*---------Mobile first set + greed--------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
:focus{
	outline: none;
}
header, nav{
	display: block;
}
body {
	font: 100%/1.3em segoe ui, tahoma, OpenSansL, Georgia, Helvetica, sans-serif;
	color: #000;
}



.container {
	width: 90%;
	margin: 0 auto;
}

.container .cols {
	float: left;
	//margin: 0 0 1em;
	padding: 0 1em;
}

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
	content: " ";
	display: table;
}

.row:after,
.container:after,
.clear:after {
	clear:both;
}

.container .cols.col-1,
.container .cols.col-2,
.container .cols.col-3, 
.container .cols.col-4,
.container .cols.col-5, 
.container .cols.col-6, 
.container .cols.col-7, 
.container .cols.col-8, 
.container .cols.col-9, 
.container .cols.col-10, 
.container .cols.col-11,
.container .cols.col-12 {width: 100%;}

/*---------You're code--------*/

@media screen and (min-width: 600px) {
	/*For screen and width >= 600px*/
	.container .cols.col-1 {width: 8.333333333%;}
	.container .cols.col-2 {width: 16.666666666%;}
	.container .cols.col-3 {width: 25%}
	.container .cols.col-4 {width: 33.333333333%;}
	.container .cols.col-5 {width: 41.666666667%;}
	.container .cols.col-6 {width: 50%;}
	.container .cols.col-7 {width: 58.333333333%;}
	.container .cols.col-8 {width: 66.666666667%;}
	.container .cols.col-9 {width: 75%;}
	.container .cols.col-10 {width: 83.333333333%;}
	.container .cols.col-11 {width: 91.666666667%;}
	.container .cols.col-12 {width: 100%;}
	
}

/*---------You're code-------*/

.head{
	width: 100%;
	height: 666px;
	background: url(../img/photo/head_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 17px;
}

.header{
	position: relative;
	color:#fff;
	width: 95%;
	height: 108px;
	background: rgba(0,0,0,0.38);
	margin: 0 auto 50px auto;
	overflow: hidden;
}

.logo{
	width: 25%;
	height: 100%;
	float: left;
}

.img__block{
	width: 40%;
	height: 100%;
	float: left;
	padding-top: 3px;
}
.image{
	width: 105px;
	height: 100px;
	margin:0 auto;
	background: url(../img/icon/Ski_Logo_White.png) no-repeat center;
	background-size: contain;
}
.image a{
	display: block;
	height: 100%	
}

.text__block{
	width: 60%;
	height: 100%;
	float: left;
	padding-top: 27px;
}
.text{
	max-width: 165px;
}

.text a{
	display: block;
	width: 100%;
	text-decoration:none;
	color:#fff;
	margin: 0;
}

.text h1{
	font-size: 37px;
	line-height: 35px;
	margin-bottom: -5px;
}

.text span{
	font-size: 11.5px;
}

.right{
	width: 75%;
	height: 100%;
	float: left;
	padding-top: 30px;
}

.upp__head{
	height: 40px;
}

.events{
	float: left;
	font-size: 11.5px;
}

.event__name{
	float: left;
}

.event{
	float: left;
	padding-top: 2px;
}

.event ul li{
	padding-left: 9px;
	list-style: none;
	line-height: 15px;
}
.event a{
	text-decoration: none;
	color: #9ec2fe;
}
.event a:hover{
	color: #cbdeff;
}

.contacts{
	margin:-10px 0 0 0;
	float: right;
}
.address{
	float: left;
	margin-right: 20px;
	margin-top: 5px; 
}
.address i{
	display: block;
	margin: 3px 2px 0 0;
	width: 14px;
	height: 15px;
	float: left;
	background: url(../img/icon/location.png) no-repeat;
}
.address:hover i{
	background: url(../img/icon/location_h.png) no-repeat;
}
.phone{
	float: left;
	margin-right: 20px;
	margin-top: 6px; 
}
.phone i{
	display: block;
	margin: 3px 5px 0 0;
	width: 14px;
	height: 14px;
	float: left;
	background: url(../img/icon/phone.png) no-repeat;
}
.phone:hover i{
	background: url(../img/icon/phone_h.png) no-repeat;
}
.social{
	float: left;
}
.social img {width: 30px;}

.social ul li{
	margin-right: 8px;
	float: left;
	list-style: none;
	-webkit-transition: transform  ease-out 0.5s;
	-moz-transition: transform  ease-out 0.5s;
	-ms-transition: transform  ease-out 0.5s;
	-o-transition: transform  ease-out 0.5s;
	transition: transform  ease-out 0.5s;
}
.social ul li:hover{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.social ul li:active{
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: scale(0.7) rotate(360deg);
}

.social ul li:last-child{
	margin-right: 10px;
}

.nav{
	position: absolute;
	bottom: 0;
}
.nav ul li{
	float: left;
	list-style: none;
}
.nav ul li a{
	position: relative;
	display: block;
	height: 30px;
	padding: 5px 12px 0px 26px;
	background: #333562;
	font-size: 15px;
	color: #fff;
	border-right: 1px solid #28294c;
	text-decoration: none;
	-webkit-transition: background  ease-out 0.4s;
	-moz-transition: background  ease-out 0.4s;
	-ms-transition: background  ease-out 0.4s;
	-o-transition: background  ease-out 0.4s;
	transition: background  ease-out 0.4s;
}
.nav ul li a:hover{
	background: #5d99fe;
}
.nav ul li a:active{
	background: #5d99fe;
}

.nav ul li a .m1{
	position: absolute;
	left: 8px;
	top: 7px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon/flag.png) no-repeat;
}
.nav ul li a .m2{
	position: absolute;
	left: 5px;
	top: 10px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon/people.png) no-repeat;
}
.nav ul li a .m3{
	position: absolute;
	left: 5px;
	top: 8px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon/star.png) no-repeat;
}
.nav ul li a .m4{
	position: absolute;
	left: 6px;
	top: 8px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon/photos.png) no-repeat;
}
.nav ul li a .m5{
	position: absolute;
	left: 9px;
	top: 8px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon/vilka.png) no-repeat;
}
.nav ul li a .m6{
	position: absolute;
	left: 6px;
	top: 9px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon/clock.png) no-repeat;
}
.nav ul li a .m7{
	position: absolute;
	left: 6px;
	top: 10px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon/card.png) no-repeat;
}

.header__content .container{
	font-size: 39px;
	line-height: 55px;
	background: none;
	color:#a1c4ff;
	text-align: center;
}
.header__content span{
	color:#cee0ff;
}
.header__content .p1{
	font-size: 65px;
	font-weight: 900;
	margin:0 0 0 -10%;
}
.header__content .p2{
	margin:8px 0 0px 30%;
}
.header__content .p3{
	margin:-15px 0 0px 54%;
}

.low{display: none;}

@media screen and (max-width: 1240px) {
	/*For screen and width <= 1240px*/
	.head{
		height: 520px;
		padding-top: 17px;
	}

	.header{
		margin-bottom: 35px;
	}

	.header__content .container{
		font-size: 25px;
		line-height: 38px;
		background: none;
		color:#a1c4ff;
		text-align: center;
	}
	.header__content span{
		color:#cee0ff;
	}
	.header__content .p1{
		font-size: 65px;
		font-weight: 900;
		margin:0 0 0 -10%;
	}
	.header__content .p2{
		margin:8px 0 0px 30%;
	}
	.header__content .p3{
		margin:-15px 0 0px 54%;
	}

	
	.image{
		width: 80px;
		height: 100%;
		margin:0 auto;
		background: url(../img/icon/Ski_Logo_White.png) no-repeat auto;
		background-size: contain;
	}

	.text h1{
		font-size: 31.5px;
		line-height: 32px;
	}

	.text span{
		font-size: 9.8px;
	}

	.contacts{font-size: 14px;}
	.social img{width: 26px;}
	
}
@media screen and (max-width: 1024px) {
	/*For screen and width <= 1024px*/
	.text h1{
		font-size: 28px;
		line-height: 32px;
	}

	.text span{
		font-size: 8.7px;
	}
	
	.nav ul li a{font-size: 14px;}
}
@media screen and (max-width: 955px){
	.header{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;

		height: auto;
		padding-top: 5px;
	}
	.header * {float: unset; clear: unset; width: auto; height: unset; margin: 0; padding: 0; position: static; }
	
	.logo{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.img__block{
		width: 55px;
		margin-right: 10px;
	}
	.img__block .image{
		height: 55px;
	}

	.upp__head{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.events, .contacts{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		text-align: center;
		margin: 10px;
	}
	
	.event__name{margin-right: 10px;}
	.event ul li {
    	padding-left: 0;
	}

	.address, .phone{ margin-right: 10px;}
}
@media screen and (max-width: 720px){
	.header__content .container{
		width: 95%;
		margin: 0 auto;
		padding: 10px;
		background: rgba(0,0,0,0.4);
	}
	.header__content .p1{
		font-size: 46px;
		font-weight: 900;
		margin:0;
		margin-top: 10px;
	}
	.header__content .p2{
		font-size: 20px;
		margin:0;
	}
	.header__content .p3{
		font-size: 20px;
		margin:0;
		margin-top: -15px;
	}

	.high{display: none;}
	.low{display: block;}
	.low li {width: 100%;text-align: center;}
	.low ul li a{border-left: 1px solid #28294c;}
	.low ul li a .m1{
		position: absolute;
		margin-left: -45px;
		left: 50%;
		top: 7px;
		background: url(../img/icon/flag.png) no-repeat;
	}
}
@media screen and (max-width: 325px){
	.address{font-size: 13px;}
}


/*-------------------------CONTENT-------------------------*/
.whoarewe{
	min-height: 165px;
	text-align: center;
	background: #2a3d5e;
	color: #fff;
	padding: 30px 0 20px 0;
}
.whoarewe .container {
	max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}
.whoarewe h2{
	padding-bottom: 25px;
}

.advantages{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	padding: 7px 0;
	min-height: 290px;
	background: #e7e7e7;
}

.advblock {
	flex-basis: 27%;
	
	min-width: 350px;
	margin: 7px 20px;
	background: #d9d9d9;
}
.advblock:hover {
	background: #dedede;
}
.advblock:hover .adv__head{
	background: #7bbbf6;
}
.adv__head{
	height: 60px;
	color: #000;
	background: #b4cade;
	font-size: 19px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
	-webkit-transition: background  ease-out 0.4s;
	-moz-transition: background  ease-out 0.4s;
	-ms-transition: background  ease-out 0.4s;
	-o-transition: background  ease-out 0.4s;
	transition: background  ease-out 0.4s;
}
.adv1__img{
	height: 62px;
	background: url(../img/icon/good.png) no-repeat center;
	margin-top: 20px;
}
.adv2__img{
	height: 62px;
	background: url(../img/icon/mans.png) no-repeat center;
	margin-top: 24px;
}
.adv3__img{
	height: 62px;
	background: url(../img/icon/airplan.png) no-repeat center;
	margin-top: 16px;
}

.adv__content{
	text-align: center;
	padding: 17px 22px;
}